{% extends "base.html" %}

{% block content %}

<header class="masthead">
    <div class="container d-flex h-30 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Welcome {{ user.fname }}</h1>

           <!---<a href="/users">list of users</a>-->

           <div class="container">
               <div class="row">
                   <div class="col-12">
                       <h3><b>{{user.fname}}</b></h3>
                   </div>
               </div>
               <div class="row">
                   {%if _______ %}


                   {% else %}

                   {% endif %}
               </div>
           </div>

        </div>
    </div>
</header>

{% endblock %}