{% extends "base.html" %}

{% block content %}

<header class="masthead">
    <div class="container d-flex h-30 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Welcome {{ current_user.fname }}</h1>

           <!---<a href="/users">list of users</a>-->

           <div class="container">
               <div class="row">
                   <div class="col-12">
                       <h2><b>{{ current_user.fname}}'s Bookings:</b></h2>
                   </div>
               </div>
               <div class="row">

                   <!-- user's bookings -->

                   {%if current_user.booking | length > 0 %}

                   <!-- loop through user bookings -->
                       {% for booking in current_user.bookings %}

                        <!-- add a card from bootstrap -->

                       {% endfor %}

                   {% else %}

                   <div class="center_text">

                       <h3>You have no bookings</h3>

                       <button type="button"><a class="btn btn-info" href="/#portfolio">Book now</button> <br>
                       <button type="button"><a class="btn btn-info" href="/logout">Log Out</a></button>

                   </div>


                   {% endif %}
               </div>
           </div>

        </div>
    </div>
</header>

{% endblock %}