{% extends "base.html" %}

{% block content %}

<header class="masthead">
    <div class="container d-flex h-30 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Register</h1>

            <form action="/users/create" method="Post">
                <input type="text" name="fname" placeholder="First Name"class="form-control" required="true"> <br>
                <input type="text" name="lname" placeholder="Last Name" class="form-control"required="true"> <br>
                <input type="text" name="picture" placeholder="Add a photo"class="form-control"> <br>
                <textarea name="bio" placeholder="About Me" class="form-control"></textarea> <br>
                <input type="text" name="username" placeholder="Username"class="form-control" required="true"> <br>
                <input type="text"  name="password" placeholder="Password"class="form-control" required="true"> <br>
                <input type="submit" class="form-control" value="register">
            </form>


        </div>
    </div>
</header>

{% endblock %}